ul {
  position: absolute;
  width: 788px;
  left: 290px;
  top: 478px;
}

li {
  font-size: 24px;
  display: block;
}

.row {
  display: flex;
  justify-content: space-between;
}

.icon-1 {
  height: 21px;
  color: red;
}

.icon-2 {
  height: 21px;
  color: green;
}
